<div class="wrapper">
    <div class="sidebar" data-color="gray" data-image="../assets/img/apartment-image.jpg">

        <div class="logo text-center">
            <img  style="height: 40px; width: 80px;" src="../assets/img/2-horizontal-gris.png" />
        </div>
		<div class="logo logo-mini">
			<a href="#" class="logo-text">
				Sueet
			</a>
		</div>

    	<div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="../assets/img/andres-profile.jpg" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        Andres Peruyero
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li><a href="#">Mi Perfil</a></li>
                            <li><a href="#">Editar Perfil</a></li>
                            <li><a href="#">Configuración</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-graph1"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-comment"></i>
                        <p>Mensajes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-home"></i>
                        <p>Propiedades</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-portfolio"></i>
                        <p>Empresa</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
				<div class="navbar-minimize">
					<button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon">
						<i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
						<i class="fa fa-navicon visible-on-sidebar-mini"></i>
					</button>
				</div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">

                    <form class="navbar-form navbar-left navbar-search-form" role="search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" value="" class="form-control" placeholder="Search...">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="notification">3</span>
                                <p class="hidden-md hidden-lg">
    								Notifications
    								<b class="caret"></b>
    							</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Falta</a></li>
                                <li><a href="#">Hacer</a></li>
                                <li><a href="#">Esto!</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-with-icons">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
    								More
    								<b class="caret"></b>
    							</p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons">
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-tools"></i> Ajustes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-help1"></i> FAQs
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                        <div class="nav-container">
                            <ul class="nav nav-icons" role="tablist">
                                <li class="active">
                                    <a href="#description" role="tab" data-toggle="tab">
                                        <i class="fa fa-bed"></i><br>
                                        Unidades
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-users"></i><br>
                                        Residentes
                                    </a>
                                  </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-comments"></i><br>
                                        Comunicación
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-bell"></i><br>
                                        Solicitudes
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-usd"></i><br>
                                        Cuotas
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-trophy"></i><br>
                                        Amenidades
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-file-text"></i><br>
                                        Documentos
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-calendar"></i><br>
                                        Calendario
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" role="tab" data-toggle="tab">
                                        <i class="fa fa-id-card"></i><br>
                                       Empleados
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            
                            <div class="tab-pane active" id="description">
                                <div class="card">
                                    <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>

                            <table id="bootstrap-table" class="table">
                                <thead>
                                    <th data-field="id" class="text-center">Nombre</th>
                                    <th data-field="name" data-sortable="true">Saldo</th>
                                    <th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Torre A - 01</td>
                                        <td>- $123.45</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div> <!-- end tab content -->

                    </div> <!-- end col-md-10 -->

                </div><!-- end row -->

            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Mensajes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Propiedades
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Empresa
                            </a>
                        </li>
                        <!--  Agregar más links si se ocupan  -->
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="#">Sueet</a>
                </p>
            </div>
        </footer>

    </div>
</div>
